[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dqrng"]
	path = dqrng
	url = https://github.com/daqana/dqrng
[submodule "tikzDevice"]
	path = tikzDevice
	url = https://github.com/daqana/tikzdevice
